node_modules
dist
build
coverage

.env
.env.*
!.env.example

client/node_modules
server/node_modules

server/certs

server/src/prisma/contract.json
server/src/prisma/contract.d.ts

server/migrations/snapshots